<div class="container">
  <header class="mt-5 mb-5">
    <h1>Inicio de sesión ROOT</h1>
  </header>

  <div class="register">
    <section class="form">
      <form action="">
        <body class="mt-4">
          <div class="input-group mb-3">
            <img class="img-email" src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-email-interface-kiranshastry-lineal-color-kiranshastry-1.png"/>
            <input type="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico" >
          </div>
          <div class="input-group mb-3">
            <img class="img-email" src="https://img.icons8.com/color/48/000000/password1--v1.png"/>
            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" >
          </div>
          <div class="col-auto mb-3 container-button">
            <button type="submit" class="btn btn-primary ">Iniciar sesión</button>
          </div>
        </body>
      </form>
    </section>
    <section class="hero">
      <img class="modal-hero" src="../../../assets/register-amico.svg" alt="">
    </section>
  </div>
</div>

