
<div class="body row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-5">
  <div class="col">
    <div class="card h-100 mb-3">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 mb-3">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 mb-3">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../../../assets/new-york.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">NewYork</h4>
        <h5>$300</h5>
        <p>2021/01/01 - 3:00 am</p>
        <button type="button" class="btn btn-outline-warning">Reservar</button>
        <button type="button" class="btn btn-outline-primary">Comprar</button>
      </div>
    </div>
  </div>
</div>
